DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK02D4C3BCAD7DFA48AB32B8281FB06B8B83DB6275
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK38740DBD4108040D6985AA56705D97D46F27920C
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK84C05FFC339C0CEFE446DED1628C0AFB5362331E
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNKC0393DE8C5B4673D99D1BECB92AA8C1F72FEB491
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNKD2DAB16BFF152507817E734DBB935160EA97A322
Intermediate/CachedAssetRegistry_0.bin
Intermediate/CachedAssetRegistryDiscovery.bin
Intermediate/PipInstall/extra_urls.txt
Intermediate/PipInstall/merged_requirements.in
Intermediate/PipInstall/pyreqs_plugins.list
Intermediate/PipInstall/Lib/site-packages/plugin_site_package.pth
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/AutoScreenshot.png
Saved/Autosaves/PackageRestoreData.json
Saved/Config/CrashReportClient/UECC-Windows-0EF6AEFE405BA874038C4892B1712435/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Logs/cef3.log
Saved/Logs/EldenRings.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_fa3686479b6322ac/Default/DDCKey-Editor.txt
Saved/SourceControl/UncontrolledChangelists.json
Saved/webcache_6613/BrowserMetrics-spare.pma
Saved/webcache_6613/First Run
Saved/webcache_6613/first_party_sets.db
Saved/webcache_6613/first_party_sets.db-journal
Saved/webcache_6613/Last Browser
Saved/webcache_6613/Local State
Saved/webcache_6613/Variations
Saved/webcache_6613/Default/Affiliation Database
Saved/webcache_6613/Default/Affiliation Database-journal
Saved/webcache_6613/Default/BrowsingTopicsSiteData
Saved/webcache_6613/Default/BrowsingTopicsSiteData-journal
Saved/webcache_6613/Default/BrowsingTopicsState
Saved/webcache_6613/Default/DIPS
Saved/webcache_6613/Default/DIPS-journal
Saved/webcache_6613/Default/Favicons
Saved/webcache_6613/Default/Favicons-journal
Saved/webcache_6613/Default/heavy_ad_intervention_opt_out.db
Saved/webcache_6613/Default/heavy_ad_intervention_opt_out.db-journal
Saved/webcache_6613/Default/History
Saved/webcache_6613/Default/History-journal
Saved/webcache_6613/Default/LOCK
Saved/webcache_6613/Default/LOG
Saved/webcache_6613/Default/Login Data
Saved/webcache_6613/Default/Login Data For Account
Saved/webcache_6613/Default/Login Data For Account-journal
Saved/webcache_6613/Default/Login Data-journal
Saved/webcache_6613/Default/Network Action Predictor
Saved/webcache_6613/Default/Network Action Predictor-journal
Saved/webcache_6613/Default/Preferences
Saved/webcache_6613/Default/PreferredApps
Saved/webcache_6613/Default/README
Saved/webcache_6613/Default/Secure Preferences
Saved/webcache_6613/Default/SharedStorage
Saved/webcache_6613/Default/Top Sites
Saved/webcache_6613/Default/Top Sites-journal
Saved/webcache_6613/Default/trusted_vault.pb
Saved/webcache_6613/Default/Visited Links
Saved/webcache_6613/Default/Web Data
Saved/webcache_6613/Default/Web Data-journal
Saved/webcache_6613/Default/AutofillStrikeDatabase/LOCK
Saved/webcache_6613/Default/AutofillStrikeDatabase/LOG
Saved/webcache_6613/Default/BudgetDatabase/LOCK
Saved/webcache_6613/Default/BudgetDatabase/LOG
Saved/webcache_6613/Default/Cache/Cache_Data/data_0
Saved/webcache_6613/Default/Cache/Cache_Data/data_1
Saved/webcache_6613/Default/Cache/Cache_Data/data_2
Saved/webcache_6613/Default/Cache/Cache_Data/data_3
Saved/webcache_6613/Default/Cache/Cache_Data/f_000001
Saved/webcache_6613/Default/Cache/Cache_Data/f_000002
Saved/webcache_6613/Default/Cache/Cache_Data/f_000003
Saved/webcache_6613/Default/Cache/Cache_Data/f_000004
Saved/webcache_6613/Default/Cache/Cache_Data/f_000005
Saved/webcache_6613/Default/Cache/Cache_Data/f_000006
Saved/webcache_6613/Default/Cache/Cache_Data/f_000007
Saved/webcache_6613/Default/Cache/Cache_Data/f_000008
Saved/webcache_6613/Default/Cache/Cache_Data/f_000009
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000a
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000b
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000c
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000d
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000e
Saved/webcache_6613/Default/Cache/Cache_Data/f_00000f
Saved/webcache_6613/Default/Cache/Cache_Data/f_000010
Saved/webcache_6613/Default/Cache/Cache_Data/f_000011
Saved/webcache_6613/Default/Cache/Cache_Data/f_000012
Saved/webcache_6613/Default/Cache/Cache_Data/f_000013
Saved/webcache_6613/Default/Cache/Cache_Data/index
Saved/webcache_6613/Default/chrome_cart_db/LOCK
Saved/webcache_6613/Default/chrome_cart_db/LOG
Saved/webcache_6613/Default/ClientCertificates/LOCK
Saved/webcache_6613/Default/ClientCertificates/LOG
Saved/webcache_6613/Default/Code Cache/js/0190c6020115c24f_0
Saved/webcache_6613/Default/Code Cache/js/0a2a14b5c5a097ba_0
Saved/webcache_6613/Default/Code Cache/js/0c6815df509cbec3_0
Saved/webcache_6613/Default/Code Cache/js/110fdbacc2d182b0_0
Saved/webcache_6613/Default/Code Cache/js/1324725542cb8333_0
Saved/webcache_6613/Default/Code Cache/js/2ba3d47492f3290b_0
Saved/webcache_6613/Default/Code Cache/js/34a363ad805ecc1e_0
Saved/webcache_6613/Default/Code Cache/js/5e919d5107e97fe5_0
Saved/webcache_6613/Default/Code Cache/js/70ae647eb4433990_0
Saved/webcache_6613/Default/Code Cache/js/74887da568fe898a_0
Saved/webcache_6613/Default/Code Cache/js/7823730de6eceff3_0
Saved/webcache_6613/Default/Code Cache/js/800e3c7da587506a_0
Saved/webcache_6613/Default/Code Cache/js/840211911192d01f_0
Saved/webcache_6613/Default/Code Cache/js/928db025e94b4924_0
Saved/webcache_6613/Default/Code Cache/js/93316710628f3853_0
Saved/webcache_6613/Default/Code Cache/js/b9020079546a0ffd_0
Saved/webcache_6613/Default/Code Cache/js/b936cc21e9821f1f_0
Saved/webcache_6613/Default/Code Cache/js/c5dc40f07b7157f5_0
Saved/webcache_6613/Default/Code Cache/js/cc291eb5217d7e6a_0
Saved/webcache_6613/Default/Code Cache/js/d248a208b89f3f3c_0
Saved/webcache_6613/Default/Code Cache/js/d4334c59882bf972_0
Saved/webcache_6613/Default/Code Cache/js/ebeefda267235d2f_0
Saved/webcache_6613/Default/Code Cache/js/efe0ae138cf8e9d0_0
Saved/webcache_6613/Default/Code Cache/js/index
Saved/webcache_6613/Default/Code Cache/js/index-dir/the-real-index
Saved/webcache_6613/Default/Code Cache/wasm/index
Saved/webcache_6613/Default/Code Cache/wasm/index-dir/the-real-index
Saved/webcache_6613/Default/commerce_subscription_db/LOCK
Saved/webcache_6613/Default/commerce_subscription_db/LOG
Saved/webcache_6613/Default/coupon_db/LOCK
Saved/webcache_6613/Default/coupon_db/LOG
Saved/webcache_6613/Default/discounts_db/LOCK
Saved/webcache_6613/Default/discounts_db/LOG
Saved/webcache_6613/Default/Download Service/EntryDB/LOCK
Saved/webcache_6613/Default/Download Service/EntryDB/LOG
Saved/webcache_6613/Default/Extension Rules/000003.log
Saved/webcache_6613/Default/Extension Rules/CURRENT
Saved/webcache_6613/Default/Extension Rules/LOCK
Saved/webcache_6613/Default/Extension Rules/LOG
Saved/webcache_6613/Default/Extension Rules/MANIFEST-000001
Saved/webcache_6613/Default/Extension Scripts/000003.log
Saved/webcache_6613/Default/Extension Scripts/CURRENT
Saved/webcache_6613/Default/Extension Scripts/LOCK
Saved/webcache_6613/Default/Extension Scripts/LOG
Saved/webcache_6613/Default/Extension Scripts/MANIFEST-000001
Saved/webcache_6613/Default/Extension State/000003.log
Saved/webcache_6613/Default/Extension State/CURRENT
Saved/webcache_6613/Default/Extension State/LOCK
Saved/webcache_6613/Default/Extension State/LOG
Saved/webcache_6613/Default/Extension State/MANIFEST-000001
Saved/webcache_6613/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
Saved/webcache_6613/Default/Feature Engagement Tracker/AvailabilityDB/LOG
Saved/webcache_6613/Default/Feature Engagement Tracker/EventDB/LOCK
Saved/webcache_6613/Default/Feature Engagement Tracker/EventDB/LOG
Saved/webcache_6613/Default/Local Storage/leveldb/000003.log
Saved/webcache_6613/Default/Local Storage/leveldb/CURRENT
Saved/webcache_6613/Default/Local Storage/leveldb/LOCK
Saved/webcache_6613/Default/Local Storage/leveldb/LOG
Saved/webcache_6613/Default/Local Storage/leveldb/MANIFEST-000001
Saved/webcache_6613/Default/Network/Cookies
Saved/webcache_6613/Default/Network/Cookies-journal
Saved/webcache_6613/Default/Network/Network Persistent State
Saved/webcache_6613/Default/Network/NetworkDataMigrated
Saved/webcache_6613/Default/Network/Reporting and NEL
Saved/webcache_6613/Default/Network/Reporting and NEL-journal
Saved/webcache_6613/Default/Network/SCT Auditing Pending Reports
Saved/webcache_6613/Default/Network/TransportSecurity
Saved/webcache_6613/Default/Network/Trust Tokens
Saved/webcache_6613/Default/Network/Trust Tokens-journal
Saved/webcache_6613/Default/optimization_guide_hint_cache_store/LOCK
Saved/webcache_6613/Default/optimization_guide_hint_cache_store/LOG
Saved/webcache_6613/Default/parcel_tracking_db/LOCK
Saved/webcache_6613/Default/parcel_tracking_db/LOG
Saved/webcache_6613/Default/PersistentOriginTrials/LOCK
Saved/webcache_6613/Default/PersistentOriginTrials/LOG
Saved/webcache_6613/Default/Safe Browsing Network/NetworkDataMigrated
Saved/webcache_6613/Default/Safe Browsing Network/Safe Browsing Cookies
Saved/webcache_6613/Default/Safe Browsing Network/Safe Browsing Cookies-journal
Saved/webcache_6613/Default/Segmentation Platform/SegmentInfoDB/LOCK
Saved/webcache_6613/Default/Segmentation Platform/SegmentInfoDB/LOG
Saved/webcache_6613/Default/Segmentation Platform/SignalDB/LOCK
Saved/webcache_6613/Default/Segmentation Platform/SignalDB/LOG
Saved/webcache_6613/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
Saved/webcache_6613/Default/Segmentation Platform/SignalStorageConfigDB/LOG
Saved/webcache_6613/Default/Session Storage/000003.log
Saved/webcache_6613/Default/Session Storage/CURRENT
Saved/webcache_6613/Default/Session Storage/LOCK
Saved/webcache_6613/Default/Session Storage/LOG
Saved/webcache_6613/Default/Session Storage/MANIFEST-000001
Saved/webcache_6613/Default/Shared Dictionary/db
Saved/webcache_6613/Default/Shared Dictionary/db-journal
Saved/webcache_6613/Default/Shared Dictionary/cache/index
Saved/webcache_6613/Default/Shared Dictionary/cache/index-dir/the-real-index
Saved/webcache_6613/Default/shared_proto_db/000003.log
Saved/webcache_6613/Default/shared_proto_db/CURRENT
Saved/webcache_6613/Default/shared_proto_db/LOCK
Saved/webcache_6613/Default/shared_proto_db/LOG
Saved/webcache_6613/Default/shared_proto_db/MANIFEST-000001
Saved/webcache_6613/Default/shared_proto_db/metadata/000003.log
Saved/webcache_6613/Default/shared_proto_db/metadata/CURRENT
Saved/webcache_6613/Default/shared_proto_db/metadata/LOCK
Saved/webcache_6613/Default/shared_proto_db/metadata/LOG
Saved/webcache_6613/Default/shared_proto_db/metadata/MANIFEST-000001
Saved/webcache_6613/Default/Site Characteristics Database/000003.log
Saved/webcache_6613/Default/Site Characteristics Database/CURRENT
Saved/webcache_6613/Default/Site Characteristics Database/LOCK
Saved/webcache_6613/Default/Site Characteristics Database/LOG
Saved/webcache_6613/Default/Site Characteristics Database/MANIFEST-000001
Saved/webcache_6613/Default/Sync Data/LevelDB/000003.log
Saved/webcache_6613/Default/Sync Data/LevelDB/CURRENT
Saved/webcache_6613/Default/Sync Data/LevelDB/LOCK
Saved/webcache_6613/Default/Sync Data/LevelDB/LOG
Saved/webcache_6613/Default/Sync Data/LevelDB/MANIFEST-000001
Saved/webcache_6613/Default/WebStorage/QuotaManager
Saved/webcache_6613/Default/WebStorage/QuotaManager-journal
Saved/webcache_6613/segmentation_platform/ukm_db
Saved/webcache_6613/segmentation_platform/ukm_db-journal
Intermediate/CachedAssetRegistryDiscovery-2026.07.19-20.08.31.bin
Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonCharacter_Auto1.uasset
Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonCharacter_Auto2.uasset
Saved/Autosaves/Game/ThirdPerson/Blueprints/BP_ThirdPersonCharacter_Auto3.uasset
Saved/Config/CrashReportClient/UECC-Windows-7D5CCEC345EDDA055588A6AD030BEE2E/CrashReportClient.ini
Saved/Logs/cef3-backup-2026.07.17-19.07.24.log
Saved/Logs/EldenRings-backup-2026.07.17-19.07.25.log
Saved/webcache_6613/Default/LOG.old
Saved/webcache_6613/Default/AutofillStrikeDatabase/LOG.old
Saved/webcache_6613/Default/BudgetDatabase/LOG.old
Saved/webcache_6613/Default/Cache/Cache_Data/f_000014
Saved/webcache_6613/Default/Cache/Cache_Data/f_000015
Saved/webcache_6613/Default/chrome_cart_db/LOG.old
Saved/webcache_6613/Default/ClientCertificates/LOG.old
Saved/webcache_6613/Default/Code Cache/js/3cc76086fbf10c89_0
Saved/webcache_6613/Default/Code Cache/js/3fa894349f03711b_0
Saved/webcache_6613/Default/Code Cache/js/5bcca9a30e4fd296_0
Saved/webcache_6613/Default/Code Cache/js/6daea913e3c25931_0
Saved/webcache_6613/Default/Code Cache/js/9b060efb9e13d78c_0
Saved/webcache_6613/Default/Code Cache/js/de78021002aae36b_0
Saved/webcache_6613/Default/commerce_subscription_db/LOG.old
Saved/webcache_6613/Default/coupon_db/LOG.old
Saved/webcache_6613/Default/discounts_db/LOG.old
Saved/webcache_6613/Default/Download Service/EntryDB/LOG.old
Saved/webcache_6613/Default/Extension State/LOG.old
Saved/webcache_6613/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
Saved/webcache_6613/Default/Feature Engagement Tracker/EventDB/LOG.old
Saved/webcache_6613/Default/Local Storage/leveldb/LOG.old
Saved/webcache_6613/Default/optimization_guide_hint_cache_store/LOG.old
Saved/webcache_6613/Default/parcel_tracking_db/LOG.old
Saved/webcache_6613/Default/PersistentOriginTrials/LOG.old
Saved/webcache_6613/Default/Segmentation Platform/SegmentInfoDB/LOG.old
Saved/webcache_6613/Default/Segmentation Platform/SignalDB/LOG.old
Saved/webcache_6613/Default/Segmentation Platform/SignalStorageConfigDB/LOG.old
Saved/webcache_6613/Default/Session Storage/LOG.old
Saved/webcache_6613/Default/shared_proto_db/LOG.old
Saved/webcache_6613/Default/shared_proto_db/metadata/LOG.old
Saved/webcache_6613/Default/Site Characteristics Database/LOG.old
Saved/webcache_6613/Default/Sync Data/LevelDB/LOG.old
Saved/webcache_6613/Default/VideoDecodeStats/LOCK
Saved/webcache_6613/Default/VideoDecodeStats/LOG
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/.usage
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/00/00000000
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/Paths/000003.log
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/Paths/CURRENT
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/Paths/LOCK
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/Paths/LOG
Saved/webcache_6613/Default/WebStorage/1/FileSystem/t/Paths/MANIFEST-000001
